@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  background: #EDF2F5;
  color: #10101B;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Pacifico';
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.application-container {
  min-height: 100vh;
  position: relative;
}
